.holder {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.viewer {
  display: block;
  width: 30%;
  min-width: 300px;
}

.workspace {
  display: block;
  width: 70%;
  border: 1px solid;
}
