@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
}

mat-form-field {
  margin-bottom: -1.25em !important;
}
